.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #000000;
  min-height: 100px;
  flex-direction: column;
  color: white;
}

.img-container{
  display: flex;
   font-family: 'Brush Script MT', cursive;
   font-size: 30px;
   float: left;
}


@media only screen and (max-width: 600px) {
  .img-container {
    font-size: 18px;
  }
}

.img-modifier{
  display: flex;
  max-height: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card{
  border-radius: 10px;
  margin-top: 15%;
  min-height: 55vh;
  min-width: fit-content;
}
.ant-collapse .ant-collapse-item .ant-collapse-header .anticon {
  left: initial;
  right: 16px;
}
.code-box-demo {
  text-align: center;
}
.ant-layout-header {
  color: #fff;
  background: inherit;
}

.ant-layout-footer {
  line-height: 1.5;
  background: inherit;

}
.ant-layout-sider {
  background: #0000;
  color: #fff;
  line-height: 120px;
}
[data-theme="dark"] .ant-layout-sider {
  background: #3499ec;
}
.ant-layout-content {
  color: #fff;
  min-height: 100vh;
  line-height: 120px;
  
}
[data-theme="dark"] .ant-layout-content {
  background: #107bcb;
}
.centered {
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}


.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #000000;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.logo{
  width: 120px;
  display: inline-block;
  line-height: 90px;
  margin-left: 3%;
  vertical-align: middle;
  
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

#body{
  background-color: #000000;
  height: 100% !important;
}
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
.ant-upload-picture-card-wrapper {
  display: inline-block;
  width: 100%;
  margin: 5vh;
  justify-self: center;
}

#root {
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/8ef88e03-6f89-4c75-ae51-f8da7d252358/c6fcb503-60e1-41ac-a335-d180fb98d475/TR-en-20210208-popsignuptwoweeks-perspective_alpha_website_small.jpg);

}
